asgiref==3.8.1
Django==5.0.4
django-cors-headers==4.3.1
django-debug-toolbar==4.3.0
django-filter==24.2
djangorestframework==3.15.1
environs==11.0.0
gunicorn==22.0.0
marshmallow==3.21.1
packaging==24.0
python-dotenv==1.0.1
sqlparse==0.5.0
