name: PR test

on:
  pull_request:
    branches:
      - main

# No GITHUB_TOKEN permissions, as we don't use it.
permissions: {}

jobs:
  build-lint:
    runs-on: ubuntu-latest
    if: github.repository == 'mdn/todo-vue'
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - run: |
          npm ci
          npm run build
          npm run lint
