name: PR test

on:
  pull_request:
    branches:
      - main

# No GITHUB_TOKEN permissions, as we don't use it.
permissions: {}

jobs:
  build-lint:
    runs-on: ubuntu-latest
    if: github.repository == 'mdn/todo-vue'
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - run: |
          npm ci
          npm run build
          npm run lint
