name: Test

on:
  push:
    branches:
      - main
  pull_request:

permissions: {} # No GITHUB_TOKEN permissions, as we don't use it.

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.repository == 'mdn/todo-vue'

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Setup Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          cache: npm
          node-version-file: .nvmrc
          check-latest: true

      - run: npm ci

      - run: npm run build

  lint:
    runs-on: ubuntu-latest
    if: github.repository == 'mdn/todo-vue'

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Setup Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          cache: npm
          node-version-file: .nvmrc
          check-latest: true

      - run: npm ci

      - run: npm run lint
